.logo {
    width: 150px;
}

.loupe {
    border: none;
    background-color: none;
    background-color: none;
}

.fa-solid fa-magnifying-glass {
    border:none;
    background-color: none;
    background: none;

}

a.nav-link {
    color: hsl(210, 14%, 53%); 
    margin : 10px;
    padding :10px;
    justify-content: center;

}
